.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.headerBtn {
  padding: 8px 30px;
  border: none; 
  border-radius: 6px;
  transition: 400ms ease-in;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #f300b4;
  color: #fff;
}

.headerBtn:hover {
  box-shadow: inset -10.5em 0 0 0 #fff, inset 10.5em 0 0 0 #fff;
  color: #000;
}

/* .headerBtn:not(:last-child) {
  margin-bottom: 20px;
} */